In [1]:
####Columns need to be renamed or dropped depending on how we decide to use the information.


import os
import csv
import pandas as pd

In [2]:
datafile = ( "../raw_data/retaildata_2006.csv")
two_thousand_six = pd.read_csv(datafile)

In [3]:
df=pd.DataFrame(two_thousand_six)
df

,NAICS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,0-4,5-9,10-19,<20,20-99,100-499,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,--,Total,Firms,"6,022,127","3,670,028","1,060,787","646,816","5,377,631","535,865","90,560",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,--,Total,Establishments,"7,601,160","3,677,153","1,073,496","678,524","5,429,173","697,755","345,719",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,--,Total,Employment,"119,917,165","5,959,585","6,973,537","8,676,398","21,609,520","21,076,875","17,537,345",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,--,Total,"Annual Payroll ($1,000)","4,792,429,911","229,730,040","214,137,111","282,193,078","726,060,229","741,917,153","660,815,715",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,11,"Forestry, Fishing, Hunting, and Agriculture Su...",Firms,"22,888","15,621","3,815","1,958","21,394","1,188",215,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,11,"Forestry, Fishing, Hunting, and Agriculture Su...",Establishments,"23,551","15,631","3,822","1,966","21,419","1,285",389,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,11,"Forestry, Fishing, Hunting, and Agriculture Su...",Employment,"165,661","23,329",[k],"25,713",[l],[k],"27,164",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,11,"Forestry, Fishing, Hunting, and Agriculture Su...","Annual Payroll ($1,000)","5,199,819","774,215",(D),"779,157",(D),(D),"772,896",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,113,Forestry and Logging,Firms,"10,543","6,359","2,368","1,219","9,946",530,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,113,Forestry and Logging,Establishments,"10,723","6,364","2,370","1,219","9,953",539,69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,113,Forestry and Logging,Employment,"66,304","11,060","15,671","15,860","42,591","16,499","2,771",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,113,Forestry and Logging,"Annual Payroll ($1,000)","2,208,516","338,186","439,716","482,176","1,260,078","571,433","95,009",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1131,Timber Tract Operations,Firms,408,280,53,39,372,14,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1131,Timber Tract Operations,Establishments,454,280,55,39,374,15,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1131,Timber Tract Operations,Employment,"2,806",411,322,522,"1,255",422,186,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1131,Timber Tract Operations,"Annual Payroll ($1,000)","131,538","16,118","11,241","18,760","46,119","19,204","10,232",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,11311,Timber Tract Operations,Firms,408,280,53,39,372,14,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,11311,Timber Tract Operations,Establishments,454,280,55,39,374,15,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,11311,Timber Tract Operations,Employment,"2,806",411,322,522,"1,255",422,186,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,11311,Timber Tract Operations,"Annual Payroll ($1,000)","131,538","16,118","11,241","18,760","46,119","19,204","10,232",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,113110,Timber Tract Operations,Firms,408,280,53,39,372,14,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,113110,Timber Tract Operations,Establishments,454,280,55,39,374,15,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,113110,Timber Tract Operations,Employment,"2,806",411,322,522,"1,255",422,186,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,113110,Timber Tract Operations,"Annual Payroll ($1,000)","131,538","16,118","11,241","18,760","46,119","19,204","10,232",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1132,Forest Nurseries and Gathering of Forest Products,Firms,174,108,25,16,149,15,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1132,Forest Nurseries and Gathering of Forest Products,Establishments,231,108,25,16,149,15,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1132,Forest Nurseries and Gathering of Forest Products,Employment,"2,098",132,165,234,531,532,458,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1132,Forest Nurseries and Gathering of Forest Products,"Annual Payroll ($1,000)","71,657","5,356","4,443","6,348","16,147","9,952","8,024",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,11321,Forest Nurseries and Gathering of Forest Products,Firms,174,108,25,16,149,15,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8572,813930,Labor Unions and Similar Labor Organizations,"Annual Payroll ($1,000)","4,888,940","335,458","501,124","677,351","1,513,933","1,433,835","1,145,962",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8573,81394,Political Organizations,Firms,"3,205","2,433",409,220,"3,062",132,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8574,81394,Political Organizations,Establishments,"3,209","2,433",409,222,"3,064",133,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8575,81394,Political Organizations,Employment,"16,664","3,468","2,635","2,906","9,009","4,878","2,777",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8576,81394,Political Organizations,"Annual Payroll ($1,000)","592,834","142,823","94,282","100,740","337,845","166,860","88,129",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8577,813940,Political Organizations,Firms,"3,205","2,433",409,220,"3,062",132,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8578,813940,Political Organizations,Establishments,"3,209","2,433",409,222,"3,064",133,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8579,813940,Political Organizations,Employment,"16,664","3,468","2,635","2,906","9,009","4,878","2,777",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8580,813940,Political Organizations,"Annual Payroll ($1,000)","592,834","142,823","94,282","100,740","337,845","166,860","88,129",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8581,81399,"Other Similar Organizations (except Business, ...",Firms,"21,877","15,019","3,342","2,157","20,518","1,202",133,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8582,81399,"Other Similar Organizations (except Business, ...",Establishments,"22,135","15,020","3,345","2,163","20,528","1,298",229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8583,81399,"Other Similar Organizations (except Business, ...",Employment,"145,547","24,374","22,341","28,677","75,392","41,001","20,454",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8584,81399,"Other Similar Organizations (except Business, ...","Annual Payroll ($1,000)","4,420,336","667,464","616,173","816,263","2,099,900","1,143,923","681,643",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8585,813990,"Other Similar Organizations (except Business, ...",Firms,"21,877","15,019","3,342","2,157","20,518","1,202",133,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8586,813990,"Other Similar Organizations (except Business, ...",Establishments,"22,135","15,020","3,345","2,163","20,528","1,298",229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8587,813990,"Other Similar Organizations (except Business, ...",Employment,"145,547","24,374","22,341","28,677","75,392","41,001","20,454",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8588,813990,"Other Similar Organizations (except Business, ...","Annual Payroll ($1,000)","4,420,336","667,464","616,173","816,263","2,099,900","1,143,923","681,643",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8589,99,Unclassified,Firms,"27,027","25,648",970,314,"26,932",94,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8590,99,Unclassified,Establishments,"27,027","25,648",970,314,"26,932",94,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8591,99,Unclassified,Employment,"29,519","16,917",[i],"4,016",[k],[g],0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8592,99,Unclassified,"Annual Payroll ($1,000)","716,764","533,082",(D),"57,785",(D),(D),0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df2006 = df.rename(columns=df.iloc[0]).drop(df.index[0])
df2006

,CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,0-4,5-9,10-19,<20,20-99,100-499,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,--,Total,Firms,"6,022,127","3,670,028","1,060,787","646,816","5,377,631","535,865","90,560",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,--,Total,Establishments,"7,601,160","3,677,153","1,073,496","678,524","5,429,173","697,755","345,719",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,--,Total,Employment,"119,917,165","5,959,585","6,973,537","8,676,398","21,609,520","21,076,875","17,537,345",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,--,Total,"Annual Payroll ($1,000)","4,792,429,911","229,730,040","214,137,111","282,193,078","726,060,229","741,917,153","660,815,715",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,11,"Forestry, Fishing, Hunting, and Agriculture Su...",Firms,"22,888","15,621","3,815","1,958","21,394","1,188",215,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,11,"Forestry, Fishing, Hunting, and Agriculture Su...",Establishments,"23,551","15,631","3,822","1,966","21,419","1,285",389,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,11,"Forestry, Fishing, Hunting, and Agriculture Su...",Employment,"165,661","23,329",[k],"25,713",[l],[k],"27,164",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,11,"Forestry, Fishing, Hunting, and Agriculture Su...","Annual Payroll ($1,000)","5,199,819","774,215",(D),"779,157",(D),(D),"772,896",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,113,Forestry and Logging,Firms,"10,543","6,359","2,368","1,219","9,946",530,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,113,Forestry and Logging,Establishments,"10,723","6,364","2,370","1,219","9,953",539,69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,113,Forestry and Logging,Employment,"66,304","11,060","15,671","15,860","42,591","16,499","2,771",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,113,Forestry and Logging,"Annual Payroll ($1,000)","2,208,516","338,186","439,716","482,176","1,260,078","571,433","95,009",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1131,Timber Tract Operations,Firms,408,280,53,39,372,14,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1131,Timber Tract Operations,Establishments,454,280,55,39,374,15,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1131,Timber Tract Operations,Employment,"2,806",411,322,522,"1,255",422,186,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1131,Timber Tract Operations,"Annual Payroll ($1,000)","131,538","16,118","11,241","18,760","46,119","19,204","10,232",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,11311,Timber Tract Operations,Firms,408,280,53,39,372,14,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,11311,Timber Tract Operations,Establishments,454,280,55,39,374,15,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,11311,Timber Tract Operations,Employment,"2,806",411,322,522,"1,255",422,186,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,11311,Timber Tract Operations,"Annual Payroll ($1,000)","131,538","16,118","11,241","18,760","46,119","19,204","10,232",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,113110,Timber Tract Operations,Firms,408,280,53,39,372,14,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,113110,Timber Tract Operations,Establishments,454,280,55,39,374,15,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,113110,Timber Tract Operations,Employment,"2,806",411,322,522,"1,255",422,186,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,113110,Timber Tract Operations,"Annual Payroll ($1,000)","131,538","16,118","11,241","18,760","46,119","19,204","10,232",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1132,Forest Nurseries and Gathering of Forest Products,Firms,174,108,25,16,149,15,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1132,Forest Nurseries and Gathering of Forest Products,Establishments,231,108,25,16,149,15,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1132,Forest Nurseries and Gathering of Forest Products,Employment,"2,098",132,165,234,531,532,458,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1132,Forest Nurseries and Gathering of Forest Products,"Annual Payroll ($1,000)","71,657","5,356","4,443","6,348","16,147","9,952","8,024",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,11321,Forest Nurseries and Gathering of Forest Products,Firms,174,108,25,16,149,15,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,11321,Forest Nurseries and Gathering of Forest Products,Establishments,231,108,25,16,149,15,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8572,813930,Labor Unions and Similar Labor Organizations,"Annual Payroll ($1,000)","4,888,940","335,458","501,124","677,351","1,513,933","1,433,835","1,145,962",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8573,81394,Political Organizations,Firms,"3,205","2,433",409,220,"3,062",132,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8574,81394,Political Organizations,Establishments,"3,209","2,433",409,222,"3,064",133,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8575,81394,Political Organizations,Employment,"16,664","3,468","2,635","2,906","9,009","4,878","2,777",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8576,81394,Political Organizations,"Annual Payroll ($1,000)","592,834","142,823","94,282","100,740","337,845","166,860","88,129",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8577,813940,Political Organizations,Firms,"3,205","2,433",409,220,"3,062",132,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8578,813940,Political Organizations,Establishments,"3,209","2,433",409,222,"3,064",133,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8579,813940,Political Organizations,Employment,"16,664","3,468","2,635","2,906","9,009","4,878","2,777",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8580,813940,Political Organizations,"Annual Payroll ($1,000)","592,834","142,823","94,282","100,740","337,845","166,860","88,129",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8581,81399,"Other Similar Organizations (except Business, ...",Firms,"21,877","15,019","3,342","2,157","20,518","1,202",133,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8582,81399,"Other Similar Organizations (except Business, ...",Establishments,"22,135","15,020","3,345","2,163","20,528","1,298",229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8583,81399,"Other Similar Organizations (except Business, ...",Employment,"145,547","24,374","22,341","28,677","75,392","41,001","20,454",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8584,81399,"Other Similar Organizations (except Business, ...","Annual Payroll ($1,000)","4,420,336","667,464","616,173","816,263","2,099,900","1,143,923","681,643",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8585,813990,"Other Similar Organizations (except Business, ...",Firms,"21,877","15,019","3,342","2,157","20,518","1,202",133,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8586,813990,"Other Similar Organizations (except Business, ...",Establishments,"22,135","15,020","3,345","2,163","20,528","1,298",229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8587,813990,"Other Similar Organizations (except Business, ...",Employment,"145,547","24,374","22,341","28,677","75,392","41,001","20,454",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8588,813990,"Other Similar Organizations (except Business, ...","Annual Payroll ($1,000)","4,420,336","667,464","616,173","816,263","2,099,900","1,143,923","681,643",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8589,99,Unclassified,Firms,"27,027","25,648",970,314,"26,932",94,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8590,99,Unclassified,Establishments,"27,027","25,648",970,314,"26,932",94,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8591,99,Unclassified,Employment,"29,519","16,917",[i],"4,016",[k],[g],0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8592,99,Unclassified,"Annual Payroll ($1,000)","716,764","533,082",(D),"57,785",(D),(D),0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df6=df6.loc[df6['CODE'].isin(["442", "443","4451","448"])]

NameError: name 'df6' is not defined

In [ ]:
df6

In [ ]:
t=df6.loc[(df6['DATA TYPE'] == "Establishments")|(df6['DATA TYPE'] == "Employment") & (df5['CODE'].isin(["442","443","4451","448"]))]
t

In [ ]:
newdf2006 = t[t.columns[:2]]
newdf2006

In [ ]:
 #makes Data Type column into seperate columns
testing = t.pivot(index="CODE",columns='DATA TYPE', values='TOTAL')
testing

In [ ]:
mergedf=pd.merge(newdf2006, testing, how='left', on='CODE')
final=mergedf.drop_duplicates(subset=['CODE'])
#mergedf.rename(columns={'NAICS CODE': "CODE", 'Employment': 'Employment_2002','Establishments':'Establishments_2002'})

In [ ]:
final

In [ ]:
final2006=final.rename(columns={'Employment': 'Employment_2006','Establishments':'Establishments_2006'})
final2006

In [ ]:
#save the final datatframe as a csvfile
final2006.to_csv("Output/2006_cleandata.csv",header=True,index=False)