In [2]:
import os 
import csv 
import pandas as pd

In [3]:
datapath = ("../raw_data/retaildata_2012.csv")
datafile = pd.read_csv(datapath, encoding="ISO-8859-1")

In [4]:
df=pd.DataFrame(datafile)
df

,Table with row headers in column A and column headers in rows 5 through 7,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NAICS CODE,NAICS DESCRIPTION,ENTERPRISE EMPLOYMENT SIZE,NUMBER OF FIRMS,NUMBER OF ESTABLISHMENTS,EMPLOYMENT,EMPLOYMENT RANGE FLAG,EMPLOYMENT NOISE FLAG,"ANNUAL PAYROLL ($1,000)",ANNUAL PAYROLL NOISE FLAG,"ESTIMATED RECEIPTS ($1,000)",ESTIMATED RECEIPTS NOISE FLAG
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,--,Total,01: Total,"5,726,160","7,431,808","115,938,468",NaN,G,"5,414,255,995",G,"32,637,809,977",G
4,--,Total,02: 0-4,"3,543,991","3,549,102","5,906,506",NaN,G,"237,897,059",G,"1,442,441,113",G
5,--,Total,03: 5-9,"992,716","1,005,042","6,527,943",NaN,G,"224,438,258",G,"1,148,667,880",G
6,--,Total,04: 10-19,"593,641","630,811","7,974,340",NaN,G,"290,990,699",G,"1,403,816,975",G
7,--,Total,05: <20,"5,130,348","5,184,955","20,408,789",NaN,G,"753,326,016",G,"3,994,925,968",G
8,--,Total,06: 20-99,"494,170","687,272","19,387,249",NaN,G,"783,571,581",G,"3,910,542,918",G
9,--,Total,07: 100-499,"83,423","360,207","16,266,855",NaN,G,"730,638,284",G,"3,911,370,787",G
10,--,Total,08: <500,"5,707,941","6,232,434","56,062,893",NaN,G,"2,267,535,881",G,"11,816,839,673",G
11,--,Total,09: 500+,"18,219","1,199,374","59,875,575",NaN,G,"3,146,720,114",G,"20,820,970,304",G
12,11,"Agriculture, Forestry, Fishing and Hunting",01: Total,"21,351","22,046","161,077",NaN,G,"5,909,348",G,"32,565,105",G
13,11,"Agriculture, Forestry, Fishing and Hunting",02: 0-4,"14,849","14,852","22,265",NaN,H,"865,306",G,"6,397,464",G
14,11,"Agriculture, Forestry, Fishing and Hunting",03: 5-9,"3,470","3,475","22,573",NaN,G,"796,523",G,"4,524,208",G
15,11,"Agriculture, Forestry, Fishing and Hunting",04: 10-19,"1,634","1,641","21,414",NaN,G,"794,272",G,"4,052,913",G
16,11,"Agriculture, Forestry, Fishing and Hunting",05: <20,"19,953","19,968","66,252",NaN,G,"2,456,101",G,"14,974,585",G
17,11,"Agriculture, Forestry, Fishing and Hunting",06: 20-99,"1,087","1,165","38,955",NaN,G,"1,500,656",G,"7,122,552",G
18,11,"Agriculture, Forestry, Fishing and Hunting",07: 100-499,220,480,"31,948",NaN,G,"993,734",G,"5,246,667",G
19,11,"Agriculture, Forestry, Fishing and Hunting",08: <500,"21,260","21,613","137,155",NaN,G,"4,950,491",G,"27,343,804",G
20,11,"Agriculture, Forestry, Fishing and Hunting",09: 500+,91,433,"23,922",NaN,G,"958,857",G,"5,221,301",G
21,113,Forestry and Logging,01: Total,"8,591","8,727","53,515",NaN,G,"2,120,056",G,"11,587,739",G
22,113,Forestry and Logging,02: 0-4,"5,192","5,193","9,244",NaN,G,"307,167",G,"2,350,375",G
23,113,Forestry and Logging,03: 5-9,"1,948","1,949","12,735",NaN,G,"441,522",G,"2,428,096",G
24,113,Forestry and Logging,04: 10-19,953,953,"12,471",NaN,G,"461,982",G,"2,228,429",G
25,113,Forestry and Logging,05: <20,"8,093","8,095","34,450",NaN,G,"1,210,671",G,"7,006,900",G
26,113,Forestry and Logging,06: 20-99,447,453,"14,148",NaN,G,"595,415",G,"2,909,505",G
27,113,Forestry and Logging,07: 100-499,23,54,"1,573",NaN,G,"62,133",G,"329,715",G
28,113,Forestry and Logging,08: <500,"8,563","8,602","50,171",NaN,G,"1,868,219",G,"10,246,120",G
29,113,Forestry and Logging,09: 500+,28,125,"3,344",NaN,H,"251,837",G,"1,341,619",G
...,...,...,...,...,...,...,...,...,...,...,...,...
18765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18771,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df = df.rename(columns=df.iloc[0]).drop(df.index[0])

In [6]:
df.columns

Index([' NAICS   CODE ', 'NAICS DESCRIPTION', 'ENTERPRISE EMPLOYMENT SIZE',
       'NUMBER OF FIRMS', 'NUMBER OF ESTABLISHMENTS', 'EMPLOYMENT',
       'EMPLOYMENT RANGE FLAG', 'EMPLOYMENT NOISE FLAG',
       'ANNUAL PAYROLL ($1,000)', 'ANNUAL PAYROLL NOISE FLAG',
       'ESTIMATED RECEIPTS      ($1,000)', 'ESTIMATED RECEIPTS NOISE FLAG'],
      dtype='object')

In [7]:
df2014= df.loc[df[' NAICS   CODE '].isin(["442", "443","4451","448"])]
df2014

,NAICS CODE,NAICS DESCRIPTION,ENTERPRISE EMPLOYMENT SIZE,NUMBER OF FIRMS,NUMBER OF ESTABLISHMENTS,EMPLOYMENT,EMPLOYMENT RANGE FLAG,EMPLOYMENT NOISE FLAG,"ANNUAL PAYROLL ($1,000)",ANNUAL PAYROLL NOISE FLAG,"ESTIMATED RECEIPTS ($1,000)",ESTIMATED RECEIPTS NOISE FLAG
9128,442,Furniture and Home Furnishings Stores,01: Total,"34,789","51,645","422,595",NaN,G,"11,694,768",G,"89,360,102",G
9129,442,Furniture and Home Furnishings Stores,02: 0-4,"20,986","21,055","41,830",NaN,H,"1,073,094",G,"8,889,326",G
9130,442,Furniture and Home Furnishings Stores,03: 5-9,"7,842","8,159","51,266",NaN,G,"1,417,996",G,"8,869,124",G
9131,442,Furniture and Home Furnishings Stores,04: 10-19,"3,699","4,479","47,251",NaN,G,"1,464,776",G,"8,582,031",G
9132,442,Furniture and Home Furnishings Stores,05: <20,"32,527","33,693","140,347",NaN,G,"3,955,866",G,"26,340,481",G
9133,442,Furniture and Home Furnishings Stores,06: 20-99,"1,870","4,280","58,773",NaN,G,"2,070,337",G,"12,496,366",G
9134,442,Furniture and Home Furnishings Stores,07: 100-499,272,"2,293","31,881",NaN,G,"1,150,797",G,"8,072,118",G
9135,442,Furniture and Home Furnishings Stores,08: <500,"34,669","40,266","231,001",NaN,G,"7,177,000",G,"46,908,965",G
9136,442,Furniture and Home Furnishings Stores,09: 500+,120,"11,379","191,594",NaN,G,"4,517,768",G,"42,451,137",G
9218,443,Electronics and Appliance Stores,01: Total,"26,090","49,684","428,298",NaN,H,"10,494,693",H,"103,813,717",H
9219,443,Electronics and Appliance Stores,02: 0-4,"16,944","17,030",0,K,S,"778,316",H,"5,847,722",H
9220,443,Electronics and Appliance Stores,03: 5-9,"5,095","5,308","33,864",NaN,H,"855,688",G,"5,360,494",G
9221,443,Electronics and Appliance Stores,04: 10-19,"2,401","3,029","31,512",NaN,H,"920,189",G,"5,545,821",G
9222,443,Electronics and Appliance Stores,05: <20,"24,440","25,367","97,921",NaN,H,"2,554,193",G,"16,754,037",G
9223,443,Electronics and Appliance Stores,06: 20-99,"1,331","3,554","44,941",NaN,G,"1,489,731",G,"9,600,625",G
9224,443,Electronics and Appliance Stores,07: 100-499,227,"2,721","27,200",NaN,G,"794,809",G,"5,467,233",G
9225,443,Electronics and Appliance Stores,08: <500,"25,998","31,642","170,062",NaN,H,"4,838,733",G,"31,821,895",G
9226,443,Electronics and Appliance Stores,09: 500+,92,"18,042",0,M,S,"5,655,960",H,0,S
9407,4451,Grocery Stores,01: Total,"65,147","91,530","2,582,042",NaN,G,"55,236,311",G,"558,303,341",G
9408,4451,Grocery Stores,02: 0-4,"40,791","40,817","71,915",NaN,G,"1,337,874",G,"18,780,648",G
9409,4451,Grocery Stores,03: 5-9,"9,416","9,517","61,874",NaN,G,"973,418",G,"11,522,024",G
9410,4451,Grocery Stores,04: 10-19,"6,429","6,698","85,914",NaN,G,"1,397,556",G,"14,121,756",G
9411,4451,Grocery Stores,05: <20,"56,636","57,032","219,703",NaN,G,"3,708,848",G,"44,424,428",G
9412,4451,Grocery Stores,06: 20-99,"6,986","7,954","273,358",NaN,G,"5,102,460",G,"45,346,447",G
9413,4451,Grocery Stores,07: 100-499,"1,164","3,457","185,163",NaN,G,"3,701,619",G,"31,354,088",G
9414,4451,Grocery Stores,08: <500,"64,786","68,443","678,224",NaN,G,"12,512,927",G,"121,124,963",G
9415,4451,Grocery Stores,09: 500+,361,"23,087","1,903,818",NaN,G,"42,723,384",G,"437,178,378",G
9731,448,Clothing and Clothing Accessories Stores,01: Total,"59,265","147,436","1,630,575",NaN,G,"28,267,813",G,"232,898,065",G
9732,448,Clothing and Clothing Accessories Stores,02: 0-4,"39,078","39,209","75,180",NaN,H,"1,646,183",G,"13,570,497",G
9733,448,Clothing and Clothing Accessories Stores,03: 5-9,"12,122","12,566","79,880",NaN,H,"1,712,942",G,"11,011,490",G
9734,448,Clothing and Clothing Accessories Stores,04: 10-19,"4,956","6,016","64,530",NaN,G,"1,575,428",G,"9,181,067",G
9735,448,Clothing and Clothing Accessories Stores,05: <20,"56,156","57,791","219,590",NaN,H,"4,934,553",G,"33,763,054",G
9736,448,Clothing and Clothing Accessories Stores,06: 20-99,"2,423","5,672","78,790",NaN,G,"2,040,648",G,"12,387,723",G
9737,448,Clothing and Clothing Accessories Stores,07: 100-499,400,"4,737","53,033",NaN,G,"1,333,907",G,"8,999,103",G
9738,448,Clothing and Clothing Accessories Stores,08: <500,"58,979","68,200","351,413",NaN,G,"8,309,108",G,"55,149,880",G
9739,448,Clothing and Clothing Accessories Stores,09: 500+,286,"79,236","1,279,162",NaN,G,"19,958,705",G,"177,748,185",G

In [8]:
df['ENTERPRISE EMPLOYMENT SIZE']

1                 NaN
2                 NaN
3          01:  Total
4            02:  0-4
5            03:  5-9
6          04:  10-19
7            05:  <20
8          06:  20-99
9        07:  100-499
10          08:  <500
11          09:  500+
12         01:  Total
13           02:  0-4
14           03:  5-9
15         04:  10-19
16           05:  <20
17         06:  20-99
18       07:  100-499
19          08:  <500
20          09:  500+
21         01:  Total
22           02:  0-4
23           03:  5-9
24         04:  10-19
25           05:  <20
26         06:  20-99
27       07:  100-499
28          08:  <500
29          09:  500+
30         01:  Total
             ...
18765             NaN
18766             NaN
18767             NaN
18768             NaN
18769             NaN
18770             NaN
18771             NaN
18772             NaN
18773             NaN
18774             NaN
18775             NaN
18776             NaN
18777             NaN
18778             NaN
18779             NaN
18780             NaN
18781             NaN
18782             NaN
18783             NaN
18784             NaN
18785             NaN
18786             NaN
18787             NaN
18788             NaN
18789             NaN
18790             NaN
18791             NaN
18792             NaN
18793             NaN
18794             NaN
Name: ENTERPRISE EMPLOYMENT SIZE, Length: 18794, dtype: object

In [9]:
df2014= df2014.loc[df2014['ENTERPRISE EMPLOYMENT SIZE'].isin(["01:  Total"])]
df2014

,NAICS CODE,NAICS DESCRIPTION,ENTERPRISE EMPLOYMENT SIZE,NUMBER OF FIRMS,NUMBER OF ESTABLISHMENTS,EMPLOYMENT,EMPLOYMENT RANGE FLAG,EMPLOYMENT NOISE FLAG,"ANNUAL PAYROLL ($1,000)",ANNUAL PAYROLL NOISE FLAG,"ESTIMATED RECEIPTS ($1,000)",ESTIMATED RECEIPTS NOISE FLAG
9128,442,Furniture and Home Furnishings Stores,01: Total,"34,789","51,645","422,595",NaN,G,"11,694,768",G,"89,360,102",G
9218,443,Electronics and Appliance Stores,01: Total,"26,090","49,684","428,298",NaN,H,"10,494,693",H,"103,813,717",H
9407,4451,Grocery Stores,01: Total,"65,147","91,530","2,582,042",NaN,G,"55,236,311",G,"558,303,341",G
9731,448,Clothing and Clothing Accessories Stores,01: Total,"59,265","147,436","1,630,575",NaN,G,"28,267,813",G,"232,898,065",G

In [10]:
clean2014 = df2014.drop(columns=['ENTERPRISE EMPLOYMENT SIZE', 'NUMBER OF FIRMS', 'EMPLOYMENT NOISE FLAG',
                                'ANNUAL PAYROLL NOISE FLAG', 'ANNUAL PAYROLL ($1,000)', 'EMPLOYMENT RANGE FLAG',
                                 'ESTIMATED RECEIPTS      ($1,000)', 'ESTIMATED RECEIPTS NOISE FLAG'
                                ])
clean2014

,NAICS CODE,NAICS DESCRIPTION,NUMBER OF ESTABLISHMENTS,EMPLOYMENT
9128,442,Furniture and Home Furnishings Stores,"51,645","422,595"
9218,443,Electronics and Appliance Stores,"49,684","428,298"
9407,4451,Grocery Stores,"91,530","2,582,042"
9731,448,Clothing and Clothing Accessories Stores,"147,436","1,630,575"

In [11]:
clean2014.columns

Index([' NAICS   CODE ', 'NAICS DESCRIPTION', 'NUMBER OF ESTABLISHMENTS',
       'EMPLOYMENT'],
      dtype='object')

In [12]:
clean2014=clean2014.rename(columns={' NAICS   CODE ':'code',
                                   'NAICS DESCRIPTION': 'description',
                                   'NUMBER OF ESTABLISHMENTS':'establishments',
                                    'EMPLOYMENT':'employment'
                                   })
clean2014

      code                               description establishments employment
9128   442     Furniture and Home Furnishings Stores         51,645    422,595
9218   443          Electronics and Appliance Stores         49,684    428,298
9407  4451                            Grocery Stores         91,530  2,582,042
9731   448  Clothing and Clothing Accessories Stores        147,436  1,630,575

In [13]:
clean2014.to_csv("Output/clean_2012retail.csv", index=True, header=True)