In [1]:
import os
import csv
import pandas as pd

In [2]:
datafile = ( "../raw_data/retaildata_2000.csv")
data_zero = pd.read_csv(datafile)

In [3]:
df=pd.DataFrame(data_zero)
df

,NAICS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,0,1-4,5-9,10-19,<20,20-99,100-499,<500,500+
1,--,Total,Firms,"5,652,544","726,862","2,669,870","1,021,210","617,087","5,035,029","515,977","84,385","5,635,391","17,153"
2,--,Total,Establishments,"7,070,048","730,027","2,675,974","1,035,370","652,461","5,093,832","674,106","312,112","6,080,050","989,998"
3,--,Total,Employment,"114,064,976",0,"5,592,980","6,708,674","8,285,731","20,587,385","20,276,634","16,260,025","57,124,044","56,940,932"
4,--,Total,"Annual Payroll ($1,000)","3,879,430,052","38,594,167","147,581,389","174,383,913","230,564,411","591,123,880","608,446,434","527,544,627","1,727,114,941","2,152,315,111"
5,11,"Agriculture, forestry, fishing, & hunting",Firms,"25,450","4,410","12,410","4,627","2,367","23,814","1,315",224,"25,353",97
6,11,"Agriculture, forestry, fishing, & hunting",Establishments,"26,076","4,413","12,417","4,630","2,378","23,838","1,394",417,"25,649",427
7,11,"Agriculture, forestry, fishing, & hunting",Employment,"183,565",0,"25,083","30,354","31,002","86,439","46,326","29,065","161,830","21,735"
8,11,"Agriculture, forestry, fishing, & hunting","Annual Payroll ($1,000)","4,682,533","126,764","557,253","692,122","760,171","2,136,310","1,155,392","651,469","3,943,171","739,362"
9,113,Forestry and logging,Firms,"13,131","1,666","6,243","2,962","1,546","12,417",634,42,"13,093",38
10,113,Forestry and logging,Establishments,"13,347","1,669","6,246","2,964","1,548","12,427",652,47,"13,126",221
11,113,Forestry and logging,Employment,"83,143",0,"13,355","19,536","20,129","53,020","19,869","2,990","75,879","7,264"
12,113,Forestry and logging,"Annual Payroll ($1,000)","2,256,241","43,635","286,510","433,848","488,728","1,252,721","546,097","104,219","1,903,037","353,204"
13,1131,Timber tract operations,Firms,418,89,194,60,27,370,24,7,401,17
14,1131,Timber tract operations,Establishments,469,90,194,61,27,372,31,9,412,57
15,1131,Timber tract operations,Employment,"3,337",0,378,389,341,"1,108",[f],[e],"2,116","1,221"
16,1131,Timber tract operations,"Annual Payroll ($1,000)","132,021","2,989","10,050","10,760","12,208","36,007",(D),(D),"67,560","64,461"
17,11311,Timber tract operations,Firms,418,89,194,60,27,370,24,7,401,17
18,11311,Timber tract operations,Establishments,469,90,194,61,27,372,31,9,412,57
19,11311,Timber tract operations,Employment,"3,337",0,378,389,341,"1,108",[f],[e],"2,116","1,221"
20,11311,Timber tract operations,"Annual Payroll ($1,000)","132,021","2,989","10,050","10,760","12,208","36,007",(D),(D),"67,560","64,461"
21,113110,Timber tract operations,Firms,418,89,194,60,27,370,24,7,401,17
22,113110,Timber tract operations,Establishments,469,90,194,61,27,372,31,9,412,57
23,113110,Timber tract operations,Employment,"3,337",0,378,389,341,"1,108",[f],[e],"2,116","1,221"
24,113110,Timber tract operations,"Annual Payroll ($1,000)","132,021","2,989","10,050","10,760","12,208","36,007",(D),(D),"67,560","64,461"
25,1132,Forest nurseries & gathering forest products,Firms,191,40,86,30,14,170,13,3,186,5
26,1132,Forest nurseries & gathering forest products,Establishments,258,40,86,30,14,170,13,3,186,72
27,1132,Forest nurseries & gathering forest products,Employment,"1,677",0,182,192,168,542,[e],[b],"1,005",672
28,1132,Forest nurseries & gathering forest products,"Annual Payroll ($1,000)","66,968","1,672","4,719","4,099","3,613","14,103",(D),(D),"25,724","41,244"
29,11321,Forest nurseries & gathering forest products,Firms,191,40,86,30,14,170,13,3,186,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8479,81393,Labor unions & similar labor organizations,Employment,"168,175",0,"17,064","27,219","33,497","77,780","51,123","27,836","156,739","11,436"
8480,81393,Labor unions & similar labor organizations,"Annual Payroll ($1,000)","3,921,562","15,971","329,780","433,067","619,787","1,398,605","1,108,336","982,776","3,489,717","431,845"
8481,813930,Labor unions & similar labor organizations,Firms,"16,963",883,"7,909","4,075","2,500","15,367","1,428",151,"16,946",17
8482,813930,Labor unions & similar labor organizations,Establishments,"17,811",883,"7,912","4,099","2,539","15,433","1,627",395,"17,455",356
8483,813930,Labor unions & similar labor organizations,Employment,"168,175",0,"17,064","27,219","33,497","77,780","51,123","27,836","156,739","11,436"
8484,813930,Labor unions & similar labor organizations,"Annual Payroll ($1,000)","3,921,562","15,971","329,780","433,067","619,787","1,398,605","1,108,336","982,776","3,489,717","431,845"
8485,81394,Political organizations,Firms,"2,540",564,"1,511",257,118,"2,450",81,8,"2,539",1
8486,81394,Political organizations,Establishments,"2,546",564,"1,511",257,120,"2,452",85,8,"2,545",1
8487,81394,Political organizations,Employment,"10,889",0,"2,698","1,679","1,505","5,882","3,262",[g],[j],[a]
8488,81394,Political organizations,"Annual Payroll ($1,000)","343,605","20,616","78,635","48,191","48,366","195,808","100,064",(D),(D),(D)
8489,813940,Political organizations,Firms,"2,540",564,"1,511",257,118,"2,450",81,8,"2,539",1
8490,813940,Political organizations,Establishments,"2,546",564,"1,511",257,120,"2,452",85,8,"2,545",1
8491,813940,Political organizations,Employment,"10,889",0,"2,698","1,679","1,505","5,882","3,262",[g],[j],[a]
8492,813940,Political organizations,"Annual Payroll ($1,000)","343,605","20,616","78,635","48,191","48,366","195,808","100,064",(D),(D),(D)
8493,81399,"Other similar organizations (exc bus, prof, la...",Firms,"23,757","2,180","14,491","3,490","2,182","22,343","1,270",109,"23,722",35
8494,81399,"Other similar organizations (exc bus, prof, la...",Establishments,"24,016","2,180","14,493","3,494","2,188","22,355","1,322",198,"23,875",141
8495,81399,"Other similar organizations (exc bus, prof, la...",Employment,"144,373",0,"26,526","23,311","29,173","79,010","44,428","14,867","138,305","6,068"
8496,81399,"Other similar organizations (exc bus, prof, la...","Annual Payroll ($1,000)","3,558,797","38,419","517,973","539,211","688,806","1,784,409","1,056,974","484,665","3,326,048","232,749"
8497,813990,"Other similar organizations (exc bus, prof, la...",Firms,"23,757","2,180","14,491","3,490","2,182","22,343","1,270",109,"23,722",35
8498,813990,"Other similar organizations (exc bus, prof, la...",Establishments,"24,016","2,180","14,493","3,494","2,188","22,355","1,322",198,"23,875",141
8499,813990,"Other similar organizations (exc bus, prof, la...",Employment,"144,373",0,"26,526","23,311","29,173","79,010","44,428","14,867","138,305","6,068"
8500,813990,"Other similar organizations (exc bus, prof, la...","Annual Payroll ($1,000)","3,558,797","38,419","517,973","539,211","688,806","1,784,409","1,056,974","484,665","3,326,048","232,749"
8501,95,"Auxiliaries, exc corp, subsidiary, & regional ...",Firms,"5,403",18,54,82,169,323,"1,013","1,688","3,024","2,379"
8502,95,"Auxiliaries, exc corp, subsidiary, & regional ...",Establishments,"14,793",18,54,84,178,334,"1,089","2,146","3,569","11,224"
8503,95,"Auxiliaries, exc corp, subsidiary, & regional ...",Employment,"1,001,015",0,79,186,621,886,"10,852","45,854","57,592","943,423"
8504,95,"Auxiliaries, exc corp, subsidiary, & regional ...","Annual Payroll ($1,000)","54,863,304","2,552","3,522","6,941","24,104","37,119","409,258","1,692,955","2,139,332","52,723,972"
8505,99,Unclassified,Firms,"98,968","50,388","40,430","5,945","1,623","98,386",582,0,"98,968",0
8506,99,Unclassified,Establishments,"98,968","50,388","40,430","5,945","1,623","98,386",582,0,"98,968",0
8507,99,Unclassified,Employment,"143,600",0,"68,755","37,497","21,209","127,461","16,139",0,"143,600",0
8508,99,Unclassified,"Annual Payroll ($1,000)","3,933,093","1,644,215","1,051,076","573,063","365,149","3,633,503","299,590",0,"3,933,093",0

In [4]:
df2000 = df.rename(columns=df.iloc[0]).drop(df.index[0])

In [5]:
df2000

,CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,0,1-4,5-9,10-19,<20,20-99,100-499,<500,500+
1,--,Total,Firms,"5,652,544","726,862","2,669,870","1,021,210","617,087","5,035,029","515,977","84,385","5,635,391","17,153"
2,--,Total,Establishments,"7,070,048","730,027","2,675,974","1,035,370","652,461","5,093,832","674,106","312,112","6,080,050","989,998"
3,--,Total,Employment,"114,064,976",0,"5,592,980","6,708,674","8,285,731","20,587,385","20,276,634","16,260,025","57,124,044","56,940,932"
4,--,Total,"Annual Payroll ($1,000)","3,879,430,052","38,594,167","147,581,389","174,383,913","230,564,411","591,123,880","608,446,434","527,544,627","1,727,114,941","2,152,315,111"
5,11,"Agriculture, forestry, fishing, & hunting",Firms,"25,450","4,410","12,410","4,627","2,367","23,814","1,315",224,"25,353",97
6,11,"Agriculture, forestry, fishing, & hunting",Establishments,"26,076","4,413","12,417","4,630","2,378","23,838","1,394",417,"25,649",427
7,11,"Agriculture, forestry, fishing, & hunting",Employment,"183,565",0,"25,083","30,354","31,002","86,439","46,326","29,065","161,830","21,735"
8,11,"Agriculture, forestry, fishing, & hunting","Annual Payroll ($1,000)","4,682,533","126,764","557,253","692,122","760,171","2,136,310","1,155,392","651,469","3,943,171","739,362"
9,113,Forestry and logging,Firms,"13,131","1,666","6,243","2,962","1,546","12,417",634,42,"13,093",38
10,113,Forestry and logging,Establishments,"13,347","1,669","6,246","2,964","1,548","12,427",652,47,"13,126",221
11,113,Forestry and logging,Employment,"83,143",0,"13,355","19,536","20,129","53,020","19,869","2,990","75,879","7,264"
12,113,Forestry and logging,"Annual Payroll ($1,000)","2,256,241","43,635","286,510","433,848","488,728","1,252,721","546,097","104,219","1,903,037","353,204"
13,1131,Timber tract operations,Firms,418,89,194,60,27,370,24,7,401,17
14,1131,Timber tract operations,Establishments,469,90,194,61,27,372,31,9,412,57
15,1131,Timber tract operations,Employment,"3,337",0,378,389,341,"1,108",[f],[e],"2,116","1,221"
16,1131,Timber tract operations,"Annual Payroll ($1,000)","132,021","2,989","10,050","10,760","12,208","36,007",(D),(D),"67,560","64,461"
17,11311,Timber tract operations,Firms,418,89,194,60,27,370,24,7,401,17
18,11311,Timber tract operations,Establishments,469,90,194,61,27,372,31,9,412,57
19,11311,Timber tract operations,Employment,"3,337",0,378,389,341,"1,108",[f],[e],"2,116","1,221"
20,11311,Timber tract operations,"Annual Payroll ($1,000)","132,021","2,989","10,050","10,760","12,208","36,007",(D),(D),"67,560","64,461"
21,113110,Timber tract operations,Firms,418,89,194,60,27,370,24,7,401,17
22,113110,Timber tract operations,Establishments,469,90,194,61,27,372,31,9,412,57
23,113110,Timber tract operations,Employment,"3,337",0,378,389,341,"1,108",[f],[e],"2,116","1,221"
24,113110,Timber tract operations,"Annual Payroll ($1,000)","132,021","2,989","10,050","10,760","12,208","36,007",(D),(D),"67,560","64,461"
25,1132,Forest nurseries & gathering forest products,Firms,191,40,86,30,14,170,13,3,186,5
26,1132,Forest nurseries & gathering forest products,Establishments,258,40,86,30,14,170,13,3,186,72
27,1132,Forest nurseries & gathering forest products,Employment,"1,677",0,182,192,168,542,[e],[b],"1,005",672
28,1132,Forest nurseries & gathering forest products,"Annual Payroll ($1,000)","66,968","1,672","4,719","4,099","3,613","14,103",(D),(D),"25,724","41,244"
29,11321,Forest nurseries & gathering forest products,Firms,191,40,86,30,14,170,13,3,186,5
30,11321,Forest nurseries & gathering forest products,Establishments,258,40,86,30,14,170,13,3,186,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8479,81393,Labor unions & similar labor organizations,Employment,"168,175",0,"17,064","27,219","33,497","77,780","51,123","27,836","156,739","11,436"
8480,81393,Labor unions & similar labor organizations,"Annual Payroll ($1,000)","3,921,562","15,971","329,780","433,067","619,787","1,398,605","1,108,336","982,776","3,489,717","431,845"
8481,813930,Labor unions & similar labor organizations,Firms,"16,963",883,"7,909","4,075","2,500","15,367","1,428",151,"16,946",17
8482,813930,Labor unions & similar labor organizations,Establishments,"17,811",883,"7,912","4,099","2,539","15,433","1,627",395,"17,455",356
8483,813930,Labor unions & similar labor organizations,Employment,"168,175",0,"17,064","27,219","33,497","77,780","51,123","27,836","156,739","11,436"
8484,813930,Labor unions & similar labor organizations,"Annual Payroll ($1,000)","3,921,562","15,971","329,780","433,067","619,787","1,398,605","1,108,336","982,776","3,489,717","431,845"
8485,81394,Political organizations,Firms,"2,540",564,"1,511",257,118,"2,450",81,8,"2,539",1
8486,81394,Political organizations,Establishments,"2,546",564,"1,511",257,120,"2,452",85,8,"2,545",1
8487,81394,Political organizations,Employment,"10,889",0,"2,698","1,679","1,505","5,882","3,262",[g],[j],[a]
8488,81394,Political organizations,"Annual Payroll ($1,000)","343,605","20,616","78,635","48,191","48,366","195,808","100,064",(D),(D),(D)
8489,813940,Political organizations,Firms,"2,540",564,"1,511",257,118,"2,450",81,8,"2,539",1
8490,813940,Political organizations,Establishments,"2,546",564,"1,511",257,120,"2,452",85,8,"2,545",1
8491,813940,Political organizations,Employment,"10,889",0,"2,698","1,679","1,505","5,882","3,262",[g],[j],[a]
8492,813940,Political organizations,"Annual Payroll ($1,000)","343,605","20,616","78,635","48,191","48,366","195,808","100,064",(D),(D),(D)
8493,81399,"Other similar organizations (exc bus, prof, la...",Firms,"23,757","2,180","14,491","3,490","2,182","22,343","1,270",109,"23,722",35
8494,81399,"Other similar organizations (exc bus, prof, la...",Establishments,"24,016","2,180","14,493","3,494","2,188","22,355","1,322",198,"23,875",141
8495,81399,"Other similar organizations (exc bus, prof, la...",Employment,"144,373",0,"26,526","23,311","29,173","79,010","44,428","14,867","138,305","6,068"
8496,81399,"Other similar organizations (exc bus, prof, la...","Annual Payroll ($1,000)","3,558,797","38,419","517,973","539,211","688,806","1,784,409","1,056,974","484,665","3,326,048","232,749"
8497,813990,"Other similar organizations (exc bus, prof, la...",Firms,"23,757","2,180","14,491","3,490","2,182","22,343","1,270",109,"23,722",35
8498,813990,"Other similar organizations (exc bus, prof, la...",Establishments,"24,016","2,180","14,493","3,494","2,188","22,355","1,322",198,"23,875",141
8499,813990,"Other similar organizations (exc bus, prof, la...",Employment,"144,373",0,"26,526","23,311","29,173","79,010","44,428","14,867","138,305","6,068"
8500,813990,"Other similar organizations (exc bus, prof, la...","Annual Payroll ($1,000)","3,558,797","38,419","517,973","539,211","688,806","1,784,409","1,056,974","484,665","3,326,048","232,749"
8501,95,"Auxiliaries, exc corp, subsidiary, & regional ...",Firms,"5,403",18,54,82,169,323,"1,013","1,688","3,024","2,379"
8502,95,"Auxiliaries, exc corp, subsidiary, & regional ...",Establishments,"14,793",18,54,84,178,334,"1,089","2,146","3,569","11,224"
8503,95,"Auxiliaries, exc corp, subsidiary, & regional ...",Employment,"1,001,015",0,79,186,621,886,"10,852","45,854","57,592","943,423"
8504,95,"Auxiliaries, exc corp, subsidiary, & regional ...","Annual Payroll ($1,000)","54,863,304","2,552","3,522","6,941","24,104","37,119","409,258","1,692,955","2,139,332","52,723,972"
8505,99,Unclassified,Firms,"98,968","50,388","40,430","5,945","1,623","98,386",582,0,"98,968",0
8506,99,Unclassified,Establishments,"98,968","50,388","40,430","5,945","1,623","98,386",582,0,"98,968",0
8507,99,Unclassified,Employment,"143,600",0,"68,755","37,497","21,209","127,461","16,139",0,"143,600",0
8508,99,Unclassified,"Annual Payroll ($1,000)","3,933,093","1,644,215","1,051,076","573,063","365,149","3,633,503","299,590",0,"3,933,093",0

In [6]:
df2000=df2000.loc[df2000['CODE'].isin(["--","442", "443","4451","448"])]

In [7]:
df2000

,CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,0,1-4,5-9,10-19,<20,20-99,100-499,<500,500+
1,--,Total,Firms,"5,652,544","726,862","2,669,870","1,021,210","617,087","5,035,029","515,977","84,385","5,635,391","17,153"
2,--,Total,Establishments,"7,070,048","730,027","2,675,974","1,035,370","652,461","5,093,832","674,106","312,112","6,080,050","989,998"
3,--,Total,Employment,"114,064,976",0,"5,592,980","6,708,674","8,285,731","20,587,385","20,276,634","16,260,025","57,124,044","56,940,932"
4,--,Total,"Annual Payroll ($1,000)","3,879,430,052","38,594,167","147,581,389","174,383,913","230,564,411","591,123,880","608,446,434","527,544,627","1,727,114,941","2,152,315,111"
4489,442,Furniture & home furnishings stores,Firms,"48,390","4,687","22,068","11,154","6,350","44,259","3,509",450,"48,218",172
4490,442,Furniture & home furnishings stores,Establishments,"64,842","4,820","22,160","11,436","7,164","45,580","6,407","3,099","55,086","9,756"
4491,442,Furniture & home furnishings stores,Employment,"549,184",0,"49,859","73,176","83,025","206,060","116,149","52,255","374,464","174,720"
4492,442,Furniture & home furnishings stores,"Annual Payroll ($1,000)","13,356,112","135,143","1,009,424","1,628,577","2,113,954","4,887,098","3,382,023","1,592,371","9,861,492","3,494,620"
4529,443,Electronics & appliance stores,Firms,"32,252","4,013","15,541","6,941","3,552","30,047","1,846",221,"32,114",138
4530,443,Electronics & appliance stores,Establishments,"45,592","4,044","15,608","7,123","4,020","30,795","2,933","1,096","34,824","10,768"
4531,443,Electronics & appliance stores,Employment,"407,321",0,"34,588","45,213","46,140","125,941","59,606","23,719","209,266","198,055"
4532,443,Electronics & appliance stores,"Annual Payroll ($1,000)","11,236,630","142,555","706,616","1,018,616","1,236,958","3,104,745","2,050,184","1,091,597","6,246,526","4,990,104"
4629,4451,Grocery stores,Firms,"70,211","9,205","31,202","12,069","8,099","60,575","7,831","1,417","69,823",388
4630,4451,Grocery stores,Establishments,"98,275","9,246","31,243","12,195","8,322","61,006","9,122","3,982","74,110","24,165"
4631,4451,Grocery stores,Employment,"2,716,868",0,"67,199","79,786","107,926","254,911","305,736","226,133","786,780","1,930,088"
4632,4451,Grocery stores,"Annual Payroll ($1,000)","43,971,989","247,892","831,016","898,927","1,246,797","3,224,632","4,026,225","3,362,755","10,613,612","33,358,377"
4773,448,Clothing & clothing accessories stores,Firms,"68,158","7,389","36,275","14,460","6,219","64,343","3,006",485,"67,834",324
4774,448,Clothing & clothing accessories stores,Establishments,"150,946","7,447","36,578","15,041","7,471","66,537","6,739","5,738","79,014","71,932"
4775,448,Clothing & clothing accessories stores,Employment,"1,368,665",0,"79,843","93,710","79,604","253,157","98,444","61,670","413,271","955,394"
4776,448,Clothing & clothing accessories stores,"Annual Payroll ($1,000)","20,200,440","152,927","1,245,712","1,575,074","1,492,081","4,465,794","1,959,272","1,165,293","7,590,359","12,610,081"

In [ ]:
len(df2000)

In [8]:
#df2000.set_index(['CODE'])
t=df2000.loc[(df2000['DATA TYPE'] == "Establishments") & df2000['CODE'].isin(["--","442","443","4451","448"])]
t

,CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,0,1-4,5-9,10-19,<20,20-99,100-499,<500,500+
2,--,Total,Establishments,"7,070,048","730,027","2,675,974","1,035,370","652,461","5,093,832","674,106","312,112","6,080,050","989,998"
4490,442,Furniture & home furnishings stores,Establishments,"64,842","4,820","22,160","11,436","7,164","45,580","6,407","3,099","55,086","9,756"
4530,443,Electronics & appliance stores,Establishments,"45,592","4,044","15,608","7,123","4,020","30,795","2,933","1,096","34,824","10,768"
4630,4451,Grocery stores,Establishments,"98,275","9,246","31,243","12,195","8,322","61,006","9,122","3,982","74,110","24,165"
4774,448,Clothing & clothing accessories stores,Establishments,"150,946","7,447","36,578","15,041","7,471","66,537","6,739","5,738","79,014","71,932"