In [1]:
import pandas as pd

In [2]:
shopping_file = "../raw_data/Clothing.csv"
furniture_file = "../raw_data/Furniture.csv"
electronic_file = "../raw_data/Electronics_Appliance.csv"
grocery_file = "../raw_data/Grocery.csv"

In [3]:
shopping_df = pd.read_csv(shopping_file)
furniture_df = pd.read_csv(furniture_file)
electronic_df = pd.read_csv(electronic_file)
grocery_df = pd.read_csv(grocery_file)

In [4]:
shopping_df[['Period','Year']] = shopping_df['Period'].str.split('-',expand=True)
furniture_df[['Period','Year']] = furniture_df['Period'].str.split('-',expand=True)
electronic_df[['Period','Year']] = electronic_df['Period'].str.split('-',expand=True)
grocery_df[['Period','Year']] = grocery_df['Period'].str.split('-',expand=True)

In [5]:
shopping_df = shopping_df.rename(columns={"Period":"Month",
                            "Value":"Sales"})
shopping_df = shopping_df[['Year','Month','Sales']]

furniture_df = furniture_df.rename(columns={"Period":"Month",
                            "Value":"Sales"})
furniture_df = furniture_df[['Year','Month','Sales']]

electronic_df = electronic_df.rename(columns={"Period":"Month",
                            "Value":"Sales"})
electronic_df = electronic_df[['Year','Month','Sales']]

grocery_df = grocery_df.rename(columns={"Period":"Month",
                            "Value":"Sales"})
grocery_df = grocery_df[['Year','Month','Sales']]

In [6]:
yearly_sales = shopping_df.groupby(['Year'])
shopping_yearly = yearly_sales.sum()

yearly_sales = furniture_df.groupby(['Year'])
furniture_yearly = yearly_sales.sum()

yearly_sales = electronic_df.groupby(['Year'])
electronic_yearly = yearly_sales.sum()

yearly_sales = grocery_df.groupby(['Year'])
grocery_yearly = yearly_sales.sum()

In [7]:
all_yearly = pd.merge(shopping_yearly,furniture_yearly, on="Year",suffixes=['_shopping','_furniture'])

In [8]:
other_yearly = pd.merge(electronic_yearly,grocery_yearly, on="Year",suffixes=['_electronic','_grocery'])

In [9]:
all_yearly = pd.merge(all_yearly,other_yearly, on="Year")

In [10]:
yearlysales_df = all_yearly.rename(columns = {"Sales_shopping":"shopping_sales",
                                              "Sales_furniture":"furniture_sales",
                                              "Sales_electronic":"electronic_sales",
                                              "Sales_grocery":"grocery_sales"})

In [12]:
yearlysales_df = yearlysales_df.loc[['2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015'],:]

In [13]:
yearlysales_df

      shopping_sales  furniture_sales  electronic_sales  grocery_sales
Year
2000        167112.0          91198.0           90369.0       401587.0
2001        167593.0          91480.0           88009.0       418561.0
2002        172308.0          94468.0           91188.0       420292.0
2003        178417.0          96619.0           92505.0       428342.0
2004        189393.0         103327.0           99637.0       439949.0
2005        200194.0         109069.0          106128.0       457697.0
2006        212950.0         113119.0          110105.0       472130.0
2007        221587.0         111410.0          110258.0       491835.0
2008        216971.0          98844.0          108827.0       510355.0
2009        204773.0          84876.0           98067.0       510394.0
2010        213060.0          85216.0           99720.0       521106.0
2011        227915.0          87525.0          101942.0       547530.0
2012        238766.0          91438.0          103506.0       562952.0
2013        244786.0          95325.0          104750.0       574968.0
2014        250287.0          99607.0          104923.0       599806.0
2015        255737.0         106407.0          103870.0       613456.0

In [14]:
yearlysales_df.to_csv("Output/clean_sales_data.csv", index=True, header=True)